@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {

  /* farver */
  --beige: #e2e3cf;

  /* fonte */
--font: 'Ubuntu', sans-serif;
 }

.wrap {
  background: black;

}

header {
  background: black;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
}

a {
  color: black;
  text-decoration: none;
  font-family: var(--font);
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.dropbtn {
  position: absolute;
  top: 2vw;
  left: 15%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown {
  position: absolute;
  left: 15%;
  display: inline-block;
    z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 1vw;
  background-color: white;
  width: 13vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: #decc59;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
  background-color: #e2e3cf;
  color: black;
}

.dropdown:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown:hover .dropbtn {color: #decc59;}

.dropbtn2 {
  position: absolute;
  top: 2vw;
  left: 27%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown2 {
  position: absolute;
  left: 27%;
  display: inline-block;
    z-index: 2;
}

.dropdown2:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown2:hover .dropbtn2 {color: #decc59;}

.dropbtn3 {
  position: absolute;
  top: 2vw;
  left: 37%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown3 {
  position: absolute;
  left: 37%;
  display: inline-block;
    z-index: 2;
}

.dropdown3:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown3:hover .dropbtn3 {color: #decc59;}

.dropbtn4 {
  position: absolute;
  top: 2vw;
  left: 47%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown4 {
  position: absolute;
  left: 47%;
  display: inline-block;
    z-index: 2;
}

.dropdown4:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown4:hover .dropbtn4 {color: #decc59;}

.dropbtn5 {
  position: absolute;
  top: 2vw;
  left: 57%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown5 {
  position: absolute;
  left:57%;
  display: inline-block;
    z-index: 2;
}

.dropdown5:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown5:hover .dropbtn5 {color: #decc59;}

.dropbtn6 {
  position: absolute;
  top: 2vw;
  left: 72%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown6 {
  position: absolute;
  left: 72%;
  display: inline-block;
    z-index: 2;
}

.dropdown6:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown6:hover .dropbtn5 {color: #decc59;}


#logotop {
  width: 10vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#mine {
  position: absolute;
  width:20vw;
  left:75vw;
  top:0vw;
  z-index: 2;
}


#mine:hover {
  transform: scale(1.1);
}



.din {
  position: absolute;
  font-family: var(--font);
}

#Overskrift {
  width: 100vw;
  position: absolute;
  background: white;
  top:20vw;
  padding-bottom: 15vw;
  z-index: 5;
}

.personlig {
  position: absolute;
  top:1.5vw;
  left:5vw;
}

#hilsen {
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  width: 100vw;
}


#alfredo {
  position: absolute;
  width:75vw;
  left:15vw;
  top:45vw;
    z-index: 2;
}



#teasertekst1 {
    position: absolute;
    font-family: var(--font);
    font-size: 3vw;
    color: black;
    top: 112vw;
    left: 15vw;
    z-index: 5;
}


#teasertekst1:hover {
  transform: scale(1.1);
}


#hvid {
  background-color: #e2e3cf;
  top: 20vw;
  width: 102%;
  height: 130vw;
  position: absolute;
}

#logobund {
  position: absolute;
  margin-top: 25vw;
  width: 150px;
  top: -40vw;
  z-index: 2;
}


#facebook {
  position: absolute;
  width: 10vw;
  left:80vw;
    z-index: 2;
}

#instagram {
  position: absolute;
  width: 10vw;
  left: 90vw;
    z-index: 2;
}


.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 0px 20px 0 0;
    font-family: var(--font);
}



.top{
  background: black;
}

.footer {
  position: absolute;
  top: 168vw;
  background: black;
  font-size: 20px;
}

#links {
  position:absolute;
  font-family: var(--font);
  color: #decc59;
  top: -15vw;
  left: 80vw;
  z-index: 5;

}

#kontakt {
  position: absolute;
  font-family: var(--font);
  color: #decc59;
  left:40vw;
  top: -15vw;
}
