
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {

  /* farver */
  --beige: #e2e3cf;

  /* fonte */
--font: 'Ubuntu', sans-serif;
 }

.wrap {
  background: black;
}

header {
  background: black;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
}

a {
  color: black;
  text-decoration: none;
  font-family: var(--font);
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.dropbtn {
  position: absolute;
  top: 2vw;
  left: 15%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown {
  position: absolute;
  left: 15%;
  display: inline-block;
    z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 1vw;
  background-color: white;
  width: 13vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: #decc59;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
  background-color: #e2e3cf;
  color: black;
}

.dropdown:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown:hover .dropbtn {color: #decc59;}

.dropbtn2 {
  position: absolute;
  top: 2vw;
  left: 27%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown2 {
  position: absolute;
  left: 27%;
  display: inline-block;
    z-index: 2;
}

.dropdown2:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown2:hover .dropbtn2 {color: #decc59;}

.dropbtn3 {
  position: absolute;
  top: 2vw;
  left: 37%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown3 {
  position: absolute;
  left: 37%;
  display: inline-block;
    z-index: 2;
}

.dropdown3:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown3:hover .dropbtn3 {color: #decc59;}

.dropbtn4 {
  position: absolute;
  top: 2vw;
  left: 47%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown4 {
  position: absolute;
  left: 47%;
  display: inline-block;
    z-index: 2;
}

.dropdown4:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown4:hover .dropbtn4 {color: #decc59;}

.dropbtn5 {
  position: absolute;
  top: 2vw;
  left: 57%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown5 {
  position: absolute;
  left:57%;
  display: inline-block;
    z-index: 2;
}

.dropdown5:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown5:hover .dropbtn5 {color: #decc59;}

.dropbtn6 {
  position: absolute;
  top: 2vw;
  left: 72%;
  color: white;
  font-size: 1.8vw;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.dropdown6 {
  position: absolute;
  left: 72%;
  display: inline-block;
    z-index: 2;
}

.dropdown6:hover .dropdown-content {
  position: fixed;
  top: 3.2vw;
  display: block;
}

.dropdown6:hover .dropbtn5 {color: #decc59;}


.burger {
  position: absolute;
  cursor: pointer;
  display:block;
  border:none;
}

.burgermenu {

}



#logotop {
  width: 10vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#hvid {
  background-color: #e2e3cf;
  top: 20vw;
  width: 102%;
  height: 200vw;
  position: absolute;
}

#blaa {
  background-color: #0d2954;
  top: 30vw;
  width: 80%;
  left: 5vw;
  height: 50vw;
  position: absolute;
  z-index: 1;
}

#bordet {
  background-color: white;
  top:85vw;
  width:52%;
  left:25vw;
  height:30vw;
  position: absolute;
  z-index: 1;
}

#Mockup {
  width: 40vw;
  position: absolute;
  top:38vw;
  left: 10vw;
  z-index: 2;
}

#Fettuccine {
  position: absolute;
  width: 35vw;
  left:46vw;
  color: white;
  z-index: 2;
  top:45vw;
}


#em {
  position: absolute;
  left:1vw;
  top:0.5vw;
  font-family: var(--font);
  font-size: 2vw;
}

#overraskelse {
  position: absolute;
  left:1vw;
  font-family: var(--font);
  font-size: 2vw;
  top:2.5vw;
}

.Minbog {
  width: 65vw;
  position: absolute;
  background: white;
  left: 5vw;
  top: 110vw;
  padding-left: 8vw;
  padding-right: 5vw;
  padding-bottom: 12vw;

}

#Kogebog {
  width:20vw;
  position: absolute;
  left:50vw;
  z-index: 2;
}


#Glutenfri {
  position: absolute;
  width:78vw;
  background-color: white;
  left: 5vw;
  top: 145vw;
  padding-bottom: 25vw;
}

#Gluten {
  position: absolute;
  width: 22vw;
  left:5vw;
  top: 1.5vw;
}

#gk {
  position: absolute;
  left:50vw;
  font-family: var(--font);
  font-size: 3vw;
}


#kur {
  position: absolute;
  left:55vw;
  top: 3vw;
  font-family: var(--font);
  font-size: 3vw;
}


#para {
font-family: var(--font);
}

#nyt {
  width: 20vw;
    z-index: 2;
}

#mine {
  position: absolute;
  width:20vw;
  left:75vw;
  top:0vw;
  z-index: 2;
}

#laks {
  position: absolute;
  width:25vw;
  top:180vw;
  left:10vw;
    z-index: 2;
}

#alfredo {
  position: absolute;
  width:25vw;
  left:45vw;
  top:180vw;
    z-index: 2;
}

#pastalaks {
  position: absolute;
  width:25vw;
  top:180vw;
  left:75vw;
    z-index: 2;
}

#teasertekst2 {
  position: absolute;
  font-family: var(--font);
  color: black;
  top: 200vw;
  left: 10vw;
  z-index: 5;
}


#her {
  position: absolute;
  font-family: var(--font);
  color: black;
  top: 204vw;
  left:10vw;
}

#her:hover {
  transform: scale(1.1);
}




#teasertekst1 {
    position: absolute;
    font-family: var(--font);
    color: black;
    top: 200vw;
    left: 45vw;
    z-index: 5;
}

#her1 {
  position: absolute;
  font-family: var(--font);
  color: black;
  top: 206vw;
  left:45vw;
}

#her1:hover {
  transform: scale(1.1);
}

#teasertekst3 {
  position: absolute;
  font-family: var(--font);
  color: black;
  top: 200vw;
  left: 75vw;
  z-index: 5;
}

#her3 {
  position: absolute;
  font-family: var(--font);
  color: black;
  top: 204vw;
  left:75vw;
}

#her3:hover {
  transform: scale(1.1);
}



#logobund {
  position: absolute;
  margin-top: 25vw;
  width: 150px;
  top: -40vw;
  z-index: 2;
}

#facebook {
  position: absolute;
  width: 10vw;
  left:80vw;
    z-index: 2;
}

#instagram {
  position: absolute;
  width: 10vw;
  left: 90vw;
    z-index: 2;
}


.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 0px 20px 0 0;
    font-family: var(--font);
}


.livretter {
  background-color: grey;
  color:black;
  padding:30px;
  height:50px;
  display:flex;
  flex-direction: column;
    z-index: 2;
}

.livretter div {
  background: white;
  margin: auto;
  width: 100px;
    z-index: 2;
}

.top{
  background: black;
}

.footer {
  position: absolute;
  top: 240vw;
  background: black;
  font-size: 20px;
}

#links {
  position:absolute;
  font-family: var(--font);
  color: #decc59;
  top: -15vw;
  left: 80vw;
  z-index: 5;

}

#kontakt {
  position: absolute;
  font-family: var(--font);
  color: #decc59;
  left:40vw;
  top: -15vw;
}

h2 {
    font-family: var(--font);
} 


/*mobil*/

@media only screen and (min width:480px)


.dropbtn {
  dropdown:none;
}

.dropdown-content {
  content: none;
}



.burgermenu {
position: absolute;
color: #decc59;
border: none;
Display: block;
margin-top: 0.3em;
left:2vw;
width: 20vw;
top:0.3vw;
z-index: 2;
}



#logotop {
  width: 12vw;
  position: absolute;
  left: 50vw;
  top: 2vw;
  z-index: 2;
}

#mine {
  position: absolute;
  width:30vw;
  left:70vw;
  top:3vw;
  z-index: 2;
}

#hvid {
  background-color: #e2e3cf;
  top: 15vw;
  width: 110%;
  height: 350vw;
  position: absolute;
}

#blaa {
  background-color: #0d2954;
  top: 20vw;
  width: 90%;
  left: 5vw;
  height: 50vw;
  position: absolute;
  z-index: 1;
}


#Mockup {
  width: 50vw;
  position: absolute;
  top:35vw;
  left: 25vw;
  z-index: 2;
}

#Fettuccine {
  position: absolute;
  width: 10vw;
  left:25vw;
  color: white;
  z-index: 2;
  top:44vw;
}


#em {
  position: absolute;
  left:3vw;
  top:40vw;
  font-family: var(--font);
  font-size: 4vw;
  color: black;
  width: 50vw;
}

#overraskelse {
  position: absolute;
  left:3vw;
  font-family: var(--font);
  font-size: 4vw;
  top:48vw;
  color: black;
  width: 50vw;
}

.Minbog {
  width: 70%;
  position: absolute;
  background: white;
  left: 10vw;
  top: 120vw;
  height: 75vw;
  padding-left: 8vw;
  padding-right: 5vw;

}

#design {
  position:absolute;
  font-family: var(--font);
  font-size: 4vw;
  left: 20vw;
}

#para {
position: absolute;
font-family: var(--font);
font-size: 4vw;
top:9vw;
left:15vw;

}

.deltag {
  position: absolute;
  top:25vw;
  width: 18vw;
  font-size: 4vw;
  left:15vw;

}

#Kogebog {
  width:50vw;
  position: absolute;
  top: 42vw;
  left:16vw;
  z-index: 2;
}


#Glutenfri {
  position: absolute;
  width:12vw;
  background-color: white;
  left: 5vw;
  top: 52vw;
  padding-bottom: 6vw;
}

#Gluten {
  position: absolute;
  width: 5vw;
  left:2vw;
  top: 1vw;
}

#gk {
  position: absolute;
  left:12vw;
  font-family: var(--font);
  font-size: 1vw;
}


#kur {
  position: absolute;
  left:14vw;
  top: 1vw;
  font-family: var(--font);
  font-size: 1vw;
}


#nyt {
  width: 10vw;
    z-index: 2;
}


#laks {
  position: absolute;
  width:30vw;
  top:225vw;
  left:5vw;
    z-index: 2;
}

#alfredo {
  position: absolute;
  width:30vw;
  left:38vw;
  top:225vw;
    z-index: 2;
}

#pastalaks {
  position: absolute;
  width:30vw;
  top:225vw;
  left:69vw;
    z-index: 2;
}

#teasertekst2 {
  position: absolute;
  font-family: var(--font);
  font-size: 3.5vw;
  color: black;
  top: 248vw;
  left: 5vw;
  z-index: 5;
}


#her {
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  color: black;
  top: 252vw;
  left:5vw;
}

#her:hover {
  transform: scale(1.1);
}




#teasertekst1 {
    position: absolute;
    font-family: var(--font);
    font-size: 3vw;
    color: black;
    top: 250vw;
    left: 42vw;
    z-index: 5;
}

#her1 {
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  color: black;
  top: 252vw;
  left:42vw;
}

#her1:hover {
  transform: scale(1.1);
}

#teasertekst3 {
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  color: black;
  top: 250vw;
  left: 69vw;
  z-index: 5;
}

#her3 {
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  color: black;
  top: 252vw;
  left:69vw;
}

#her3:hover {
  transform: scale(1.1);
}



#logobund {
  width: 20vw;
  position: absolute;
  left: 40vw;
  top: 238vw;
  z-index: 2;
}

#facebook {
  position: absolute;
  width: 10vw;
  left:40vw;
    z-index: 2;
    top:408vw;
}

#instagram {
  position: absolute;
  width:10 vw;
  left: 40vw;
    z-index: 2;
    top:420vw;
}


.top{
  background: black;
}

.footer {
  position: absolute;
  top: 15vw;
  background: black;
  font-size: 5px;
}

#links {
  position:absolute;
  font-family: var(--font);
  font-size: 5vw;
  color: #decc59;
  top: 390vw;
  left: 40vw;
  z-index: 5;

}

#kontakt {
  position: absolute;
  font-family: var(--font);
  font-size: 5vw;
  color: #decc59;
  left:40vw;
  top: 280vw;
}

h2 {
    font-family: var(--font);
}
