
.wrap {
  background: #e2e3cf;
  font-family: Ubuntu-Regular;
  margin: 0;
  padding: 0;
}

.blaa {
  background: #0d2954;
  padding: 15px;
}

.Emballgae {

}

.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: line-block;
  margin: 0px 20px 0 0;
}



.livretter {
  background-color: grey;
  color:black;
  padding:30px;
  height:50px;
  display:flex;
  flex-direction: column;
}

.livretter div {
  background: white;
  margin: auto;
  width: 100px;
}

.top{
  background: black;
}

.footer {
  background: black;
}
